doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css")
    link(rel="stylesheet" href="./style.css")
    title GitTutotial
  body
    header.header
      h1.header__title GitTutorial

  script(src="./script.js")