doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://unpkg.com/destyle.css@1.0.5/destyle.css")
    title GitTutotial
  body
    header
      h1 GitTutorial

  script(src="./script.js")